/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
.container-fluid,
.container {
    --gutter-x: 30px;
    --gutter-y: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--gutter-x) / 2);
    padding-right: calc(var(--gutter-x) / 2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter-x) / -2);
    margin-right: calc(var(--gutter-x) / -2);
}
.row > .col,
.row > [class*="col-"] {
    padding-inline: calc(var(--gutter-x) / 2);
    margin-top: var(--gutter-y);
}

.col {
    flex: 1 0 0%;
}
.col-1 {
    flex: 0 0 calc(100% / 12 * 1);
}

.col-2 {
    flex: 0 0 calc(100% / 12 * 2);
}

.col-3 {
    flex: 0 0 calc(100% / 12 * 3);
}

.col-4 {
    flex: 0 0 calc(100% / 12 * 4);
}

.col-5 {
    flex: 0 0 calc(100% / 12 * 5);
}

.col-6 {
    flex: 0 0 calc(100% / 12 * 6);
}

.col-7 {
    flex: 0 0 calc(100% / 12 * 7);
}

.col-8 {
    flex: 0 0 calc(100% / 12 * 8);
}

.col-9 {
    flex: 0 0 calc(100% / 12 * 9);
}

.col-10 {
    flex: 0 0 calc(100% / 12 * 10);
}

.col-11 {
    flex: 0 0 calc(100% / 12 * 11);
}

.col-12 {
    flex: 0 0 100%;
}

.row-cols-1 .col {
    flex: 0 0 calc(100% / 1);
}
.row-cols-2 .col {
    flex: 0 0 calc(100% / 2);
}
.row-cols-3 .col {
    flex: 0 0 calc(100% / 3);
}
.row-cols-4 .col {
    flex: 0 0 calc(100% / 4);
}
.row-cols-5 .col {
    flex: 0 0 calc(100% / 5);
}
.row-cols-6 .col {
    flex: 0 0 calc(100% / 6);
}
.row-cols-7 .col {
    flex: 0 0 calc(100% / 7);
}
.row-cols-8 .col {
    flex: 0 0 calc(100% / 8);
}
.row-cols-9 .col {
    flex: 0 0 calc(100% / 9);
}
.row-cols-10 .col {
    flex: 0 0 calc(100% / 10);
}
.row-cols-11 .col {
    flex: 0 0 calc(100% / 11);
}
.row-cols-12 .col {
    flex: 0 0 calc(100% / 12);
}
.g-0 {
    --gutter-x: 0;
    --gutter-y: 0;
}
.g-1 {
    --gutter-x: 0.25rem;
    --gutter-y: 0.25rem;
}
.g-2 {
    --gutter-x: 0.5rem;
    --gutter-y: 0.5rem;
}

.g-3 {
    --gutter-x: 1rem;
    --gutter-y: 1rem;
}

.g-4 {
    --gutter-x: 1.5rem;
    --gutter-y: 1.5rem;
}

.g-5 {
    --gutter-x: 3rem;
    --gutter-y: 3rem;
}
.offset-0 {
    margin-left: 0;
}
.offset-1 {
    margin-left: calc(100% / 12 * 1);
}
.offset-2 {
    margin-left: calc(100% / 12 * 2);
}
.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-6 {
    margin-left: calc(100% / 12 * 6);
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .col-sm-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }

    .col-sm-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }

    .col-sm-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }

    .col-sm-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }

    .col-sm-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }

    .col-sm-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }

    .col-sm-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }

    .col-sm-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }

    .col-sm-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }

    .col-sm-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }

    .col-sm-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }

    .col-sm-12 {
        flex: 0 0 100%;
    }
    .row-cols-sm-1 .col {
        flex: 0 0 calc(100% / 1);
    }
    .row-cols-sm-2 .col {
        flex: 0 0 calc(100% / 2);
    }
    .row-cols-sm-3 .col {
        flex: 0 0 calc(100% / 3);
    }
    .row-cols-sm-4 .col {
        flex: 0 0 calc(100% / 4);
    }
    .row-cols-sm-5 .col {
        flex: 0 0 calc(100% / 5);
    }
    .row-cols-sm-6 .col {
        flex: 0 0 calc(100% / 6);
    }
    .row-cols-sm-7 .col {
        flex: 0 0 calc(100% / 7);
    }
    .row-cols-sm-8 .col {
        flex: 0 0 calc(100% / 8);
    }
    .row-cols-sm-9 .col {
        flex: 0 0 calc(100% / 9);
    }
    .row-cols-sm-10 .col {
        flex: 0 0 calc(100% / 10);
    }
    .row-cols-sm-11 .col {
        flex: 0 0 calc(100% / 11);
    }
    .row-cols-sm-12 .col {
        flex: 0 0 calc(100% / 12);
    }
    .offset-sm-0 {
        margin-left: 0;
    }
    .offset-sm-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .offset-sm-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .offset-sm-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .offset-sm-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .offset-sm-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .offset-sm-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .offset-sm-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .offset-sm-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .offset-sm-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .offset-sm-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .offset-sm-11 {
        margin-left: calc(100% / 12 * 11);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .col-md-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }

    .col-md-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }

    .col-md-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }

    .col-md-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }

    .col-md-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }

    .col-md-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }

    .col-md-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }

    .col-md-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }

    .col-md-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }

    .col-md-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }

    .col-md-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }

    .col-md-12 {
        flex: 0 0 100%;
    }
    .row-cols-md-1 .col {
        flex: 0 0 calc(100% / 1);
    }
    .row-cols-md-2 .col {
        flex: 0 0 calc(100% / 2);
    }
    .row-cols-md-3 .col {
        flex: 0 0 calc(100% / 3);
    }
    .row-cols-md-4 .col {
        flex: 0 0 calc(100% / 4);
    }
    .row-cols-md-5 .col {
        flex: 0 0 calc(100% / 5);
    }
    .row-cols-md-6 .col {
        flex: 0 0 calc(100% / 6);
    }
    .row-cols-md-7 .col {
        flex: 0 0 calc(100% / 7);
    }
    .row-cols-md-8 .col {
        flex: 0 0 calc(100% / 8);
    }
    .row-cols-md-9 .col {
        flex: 0 0 calc(100% / 9);
    }
    .row-cols-md-10 .col {
        flex: 0 0 calc(100% / 10);
    }
    .row-cols-md-11 .col {
        flex: 0 0 calc(100% / 11);
    }
    .row-cols-md-12 .col {
        flex: 0 0 calc(100% / 12);
    }
    .offset-md-0 {
        margin-left: 0;
    }
    .offset-md-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .offset-md-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .offset-md-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .offset-md-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .offset-md-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .offset-md-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .offset-md-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .offset-md-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .offset-md-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .offset-md-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .offset-md-11 {
        margin-left: calc(100% / 12 * 11);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col-lg-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }

    .col-lg-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }

    .col-lg-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }

    .col-lg-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }

    .col-lg-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }

    .col-lg-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }

    .col-lg-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }

    .col-lg-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }

    .col-lg-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }

    .col-lg-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }

    .col-lg-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }

    .col-lg-12 {
        flex: 0 0 100%;
    }
    .row-cols-lg-1 .col {
        flex: 0 0 calc(100% / 1);
    }
    .row-cols-lg-2 .col {
        flex: 0 0 calc(100% / 2);
    }
    .row-cols-lg-3 .col {
        flex: 0 0 calc(100% / 3);
    }
    .row-cols-lg-4 .col {
        flex: 0 0 calc(100% / 4);
    }
    .row-cols-lg-5 .col {
        flex: 0 0 calc(100% / 5);
    }
    .row-cols-lg-6 .col {
        flex: 0 0 calc(100% / 6);
    }
    .row-cols-lg-7 .col {
        flex: 0 0 calc(100% / 7);
    }
    .row-cols-lg-8 .col {
        flex: 0 0 calc(100% / 8);
    }
    .row-cols-lg-9 .col {
        flex: 0 0 calc(100% / 9);
    }
    .row-cols-lg-10 .col {
        flex: 0 0 calc(100% / 10);
    }
    .row-cols-lg-11 .col {
        flex: 0 0 calc(100% / 11);
    }
    .row-cols-lg-12 .col {
        flex: 0 0 calc(100% / 12);
    }
    .offset-lg-0 {
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .offset-lg-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .offset-lg-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .offset-lg-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .offset-lg-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .offset-lg-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .offset-lg-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .offset-lg-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .offset-lg-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .offset-lg-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .offset-lg-11 {
        margin-left: calc(100% / 12 * 11);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .header .container {
        max-width: 1330px;
    }
    .col-xl-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }

    .col-xl-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }

    .col-xl-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }

    .col-xl-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }

    .col-xl-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }

    .col-xl-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }

    .col-xl-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }

    .col-xl-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }

    .col-xl-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }

    .col-xl-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }

    .col-xl-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }

    .col-xl-12 {
        flex: 0 0 100%;
    }
    .row-cols-xl-1 .col {
        flex: 0 0 calc(100% / 1);
    }
    .row-cols-xl-2 .col {
        flex: 0 0 calc(100% / 2);
    }
    .row-cols-xl-3 .col {
        flex: 0 0 calc(100% / 3);
    }
    .row-cols-xl-4 .col {
        flex: 0 0 calc(100% / 4);
    }
    .row-cols-xl-5 .col {
        flex: 0 0 calc(100% / 5);
    }
    .row-cols-xl-6 .col {
        flex: 0 0 calc(100% / 6);
    }
    .row-cols-xl-7 .col {
        flex: 0 0 calc(100% / 7);
    }
    .row-cols-xl-8 .col {
        flex: 0 0 calc(100% / 8);
    }
    .row-cols-xl-9 .col {
        flex: 0 0 calc(100% / 9);
    }
    .row-cols-xl-10 .col {
        flex: 0 0 calc(100% / 10);
    }
    .row-cols-xl-11 .col {
        flex: 0 0 calc(100% / 11);
    }
    .row-cols-xl-12 .col {
        flex: 0 0 calc(100% / 12);
    }
    .offset-xl-0 {
        margin-left: 0;
    }
    .offset-xl-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .offset-xl-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .offset-xl-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .offset-xl-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .offset-xl-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .offset-xl-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .offset-xl-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .offset-xl-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .offset-xl-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .offset-xl-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .offset-xl-11 {
        margin-left: calc(100% / 12 * 11);
    }
}
