/* Base: >= 1400px */
/* DESKTOP FIRST */
/* .header .container {
    max-width: 1330px;
} */
.header__mobile {
    display: none;
}
.show-on-mobile {
    display: none;
}
@media (max-width: 1399.98px) {
    /* XL */
}

@media (max-width: 1199.98px) {
    .hero__inner {
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .header__action-text {
        font-size: 20px;
    }
    .header__logo {
        width: 74px;
        height: 74px;
    }
    .header__pc-nav {
        margin-left: auto;
    }
    .header__link {
        font-size: 14px;
    }
    .header__list {
        gap: 20px;
    }

    .hero__img {
        width: 330px;
        height: 453px;
    }
    .hero__decor {
        width: 142.85%;
        height: 110.7%;
        bottom: 0;
        left: -29%;
    }
    .hero-title {
        width: 300px;
        font-size: 50px;
        line-height: 1.18;
        letter-spacing: -2.24px;
    }
    .hero__desc {
        width: 300px;
    }
    .hero__social {
        display: block;
        margin-top: 50px;
    }
    .hero__social-group {
        margin-top: 20px;
    }

    .clients__inner {
        flex-direction: column;
    }
    .clients__title {
        text-align: center;
        padding-left: 0;
    }
    .clients__title::before {
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .clients__list {
        margin-left: 0;
        margin-top: 30px;
    }

    .service__card-desc {
        display: -webkit-box;
        -webkit-line-clamp: var(--line-clamp, 3);
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow-wrap: anywhere;
    }
}

@media (max-width: 991.98px) {
    /* MD */
    .projects__top {
        flex-direction: column;
        gap: 20px;
    }
    .projects__title,
    .projects__desc {
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    /* SM */
    /* --------Header---- */
    .header {
        display: none;
    }
    .header__mobile {
        display: block;
        background: #fbfaff;
        border-bottom: 1px solid #d6d3e2;
        padding-bottom: 15.5px;
        padding-top: 20px;
    }
    .header__mobile-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-logo {
        width: 37px;
        height: 44px;
        display: block;
    }
    .mobile-logo__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .header__mobile-action {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .header__mobile-action-wrap {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid rgba(93, 59, 238, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        /* transition: opacity 5s ease; */
    }
    #menu-checkbox:checked ~ .overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-drawer {
        position: fixed;
        inset: 0 0 0 40%;
        background-color: #fff;
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding: 40px 0;
        display: flex;
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }
    .menu-drawer__text {
        color: #080415;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px; /* 136.364% */
        text-decoration-line: underline;
    }
    #menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
    .menu-drawer__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .menu-drawer__link {
        font-size: 14px;
        color: #51586a;
    }
    /*------HERO------ */
    .hero__inner {
        row-gap: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .hero__content {
        order: 1;
        margin-left: 0;
    }
    .hero__media {
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-title {
        width: 260px;
        font-size: 42px;
        line-height: 50px;
        letter-spacing: -1.68px;
    }
    .hero__desc {
        /* width: 318px; */
        width: auto;
        font-size: 16px;
        line-height: 26px;
    }
    .hero__action {
        margin-top: 30px;
    }
    .hero__social {
        margin-top: 30px;
        gap: 10px;
    }
    .hero__social-group {
        gap: 15.5px;
    }
    .hero__img {
        width: 259px;
        height: 355px;
        object-fit: cover;
        position: relative;
        z-index: 2;
    }
    .hero__decor {
        /* display: none; */
        width: 100%;
        height: 120%;
        bottom: -1px;
        left: 4px;
    }
    .clients__title {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: -4%;
        text-align: center;
        width: 169px;
        padding-left: 0;
    }
    .clients__title::before {
        transform: translateX(-50%);
    }
    .clients__list {
        grid-template-columns: repeat(2, auto);
        margin-top: 41px;
        /* display: none; */
        /* padding-left: 10px; */
    }
    .service__slider {
        overflow: hidden;
        /* margin-top: 50px; */
    }
    .service__title {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -1.44px;
    }
    .service__desc {
        max-width: 350px;
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }

    .service__tracker {
        display: flex;
        transform: translateX(calc(-200% - 60px));
    }
    .service__card {
        flex: 0 0 100%;
    }
    .service__controls {
        display: flex;
        margin-top: 32px;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .service__dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        opacity: 0.2;
        background: #080415;
    }
    .service__dot--active {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #5d3bee;
        opacity: 1;
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .service__dot--active::after {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #5d3bee;
    }
    .projects {
        padding-top: 69px;
        padding-bottom: 60px;
    }
    .projects__title {
        color: #fff;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -1.44px;
        width: 301px;
    }
    .projects__desc {
        max-width: 350px;
        width: 100%;
        color: #fff;
        font-size: 16px;
        line-height: 26px;
    }

    .project__card {
        align-items: center;
    }
    .project__card-media {
        /* width: 122px;
        height: 93px; */
        width: 100%;
        height: auto;
        aspect-ratio: 246 / 187;
    }
    .project__card-title {
        color: #080415;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.96px;
    }
    .project__card-desc {
        color: #51586a;
        font-size: 14px;
        line-height: 20px;
        /* width: 176px; */
        width: 100%;
        max-width: 100%;
    }
    .project__card-link {
        font-size: 16px;
        line-height: 28px;
    }

    .about__eyebrown-text {
        font-size: 20px;
        line-height: 40px;
        letter-spacing: -0.8px;
    }
    .about__eyebrown-icon {
        width: 18px;
        height: 18px;
        object-fit: cover;
    }
    .about__title {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -1.44px;
    }
    .about__desc {
        font-size: 16px;
        line-height: 26px;
        max-width: 350px;
        width: 100%;
    }
    .about__stats {
        /* text-align: center; */
    }
    .about__stats-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: flex-start; */
        gap: 5px;
    }
    .about__number {
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 0.9px;
        text-align: left;
        display: block;
        width: 74px;
    }
    .about__text {
        width: 74px;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
    }
    .about__video-wrap {
        height: 276px;
    }
    .video__play {
        width: 60px;
        height: 60px;
    }
    .video__bottom {
        width: 118px;
        height: 44px;
        color: #51586a;
        font-size: 12px;
        line-height: 30px;
    }

    .feedback__title {
        font-size: 36px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: -1.44px;
    }
    .feedback__desc {
        /* width: 350px; */
        width: 100%;
        color: #51586a;
        font-size: 16px;
        line-height: 26px;
    }
    .feedback__review {
        /* width: 350px; */
        width: auto;
        font-size: 18px;
        line-height: 30px;
    }
    .feedback__customer-name {
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
    }
    .feedback__decor {
        width: 96.163px;
        height: 71.126px;
        object-fit: cover;
    }

    /* FAQS */
    .faqs__title {
        max-width: 316px;
        width: 100%;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -1.44px;
        margin-bottom: 42px;
    }
    .faqs__question-text {
        width: 264px;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.96px;
    }
    .faqs__question-icon {
        width: 33px;
        height: 33px;
    }
    .faqs__answer {
        width: 316px;
        font-size: 16px;
        line-height: 26px;
    }

    /* Contact */

    .contact__title {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -1.44px;
    }
    .contact__desc {
        width: 100%;
        max-width: 350px;
        color: #51586a;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    .contact__email {
        font-size: 20px;
        line-height: 40px;
        letter-spacing: -0.8px;
    }
    .contact__slider {
        overflow: hidden;
    }
    .contact__track {
        transform: translateX(calc(-100% - 30px));
    }
    .contact__card {
        flex: 0 0 100%;
    }

    .contact__dots {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 40px;
        /* z-index: 1; */
    }
    .contact__dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        /* opacity: 0.2; */
        /* background: #080415; */
        background: rgba(8, 4, 21, 0.2);
        /* background-color: red; */
    }
    .contact__dot--active {
        width: 20px;
        height: 20px;
        background: #fff;
        border: 1px solid #5d3bee;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact__dot--active::after {
        content: "";
        width: 12px;
        height: 12px;
        background-color: #5d3bee;
        border-radius: 50%;
    }
    .cta {
        margin-top: 122px;
    }
    .cta__icon {
        width: 48px;
        height: 48px;
    }
    .cta__title {
        width: 100%;
        max-width: 225px;
        font-size: 36px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: -1.44px;
    }
    .cta__desc {
        width: 100%;
        max-width: 350px;
        color: #51586a;
        font-size: 16px;
        line-height: 26px;
    }

    .cta__btn {
        width: 147px;
        height: 55px;
        font-size: 16px;
    }
    .cta__decor--1,
    .cta__decor--2,
    .cta__decor--3 {
        display: none;
    }
    .cta__decor--4 {
        display: block;
        top: 0;
        left: 25%;
    }

    /* FOOTER */
    .footer__top {
        flex-direction: column;
        gap: 30px;
    }
    .footer__logo {
        margin-inline: auto;
        order: 1;
    }
    .footer__pc-nav {
        margin-inline: auto;
        order: 2;
    }
    .footer__action {
        order: 3;
    }
    .footer__list {
        gap: 25px;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
    .footer__menu {
        order: 1;
        padding-bottom: 38px;
    }

    .footer__copy-right {
        order: 2;
        margin-top: 20px;
    }
    .footer__bottom::before {
        display: none;
    }
    .footer__bottom::after {
        content: "";
        position: absolute;
        width: 100vw;
        top: 76px;
        border-top: 1px solid rgba(12, 7, 32, 0.2);
    }
}

@media (max-width: 575.98px) {
    /* XS */

    .clients__list {
        grid-template-columns: repeat(1, auto);
    }
}
