*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}
/* -----------COMMON CSSS------------ */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #5d3bee;
}
.btn:hover {
    opacity: 0.7;
    opacity: 0.7 !important;
}
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}
.show-in-mobile {
    display: none;
}
/* --------HEADER----------- */
.header {
    padding-top: 20px;
    background: #fbfaff;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__action {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__action-wrap {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__action-text {
    color: #080415;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    text-decoration-line: underline;
}
.header__list {
    display: flex;
    gap: 43px;
}
.header__logo {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    flex-shrink: 0;
}
.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__pc-nav {
    margin-left: 223px;
}
.header__link {
    color: #51586a;
    font-size: 18px;
    line-height: normal;
}
.header__link:hover {
    text-shadow: 0 1px rgb(0 0 0 /15%);
}
/*--------HERO--------- */
.hero {
    background: #fbfaff;
    padding-top: 38px;
}
.hero .container {
    /* background-color: #ccc; */
}
.hero__inner {
    align-items: center;
}
.hero__media {
    position: relative;
    /* background-color: #ccc; */
}
.hero__img {
    width: 514px;
    height: 705px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}
.hero__decor {
    position: absolute;
    bottom: 24px;
    left: -35%;
}
.hero__content {
    margin-left: var(--gutter-x);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-title {
    width: 500px;
    color: #080415;
    font-family: "DM Sans";
    font-size: 80px;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: -3.2px;
}
.hero__desc {
    width: 370px;
    color: #51586a;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}
.hero__action {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.hero__btn {
    width: 170px;
    height: 62px;
    color: #fdfdfd;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.hero__link {
    color: #080415;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-decoration-line: underline;
}
.hero__social {
    margin-top: 109px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.hero__social-text {
    color: #51586a;
    font-weight: 500;
    line-height: 30px;
}
.hero__social-group {
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero__social-wrap-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__social-img {
    transition: transform 0.2s ease;
}
.hero__social-img:hover {
    transform: scale(1.5);
}

/* --------CLIENTS----------- */
.clients {
    padding-top: 98px;
}
.clients__inner {
    display: flex;
    align-items: center;
}
.clients__title {
    width: 352px;
    font-weight: 500;
    font-style: Medium;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -4%;
    position: relative;
    padding-left: 99px;
}
.clients__title::before {
    content: "";
    position: absolute;
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
    display: inline-block;
    top: 25px;
    left: 0px;
}
.clients__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    margin-left: 105px;
    row-gap: 41px;
    column-gap: 50px;
}
.clients__item {
    display: flex;
    align-items: center;
    gap: 13px;
}
/* -------------- SERVICES-------------- */
.service {
    margin-top: 133px;
}
.service__title {
    color: #080415;
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: -2.24px;
    width: fit-content;
    margin-inline: auto;
}
.service__desc {
    color: #51586a;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 534px;
    margin-inline: auto;
    margin-top: 20px;
}

.service__tracker {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 60px;
}
.service__card {
    /* width: 370px; */
    /* height: 306px; */
    background: #fbfaff;
    padding: 33px 43px;
}
.service__img-wrap {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
.service__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.service__card-title {
    color: #080415;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.28px;
    margin-top: 22px;
}
.service__card-desc {
    color: #51586a;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
}
/* ------PROJECTS---------------- */
.projects {
    background: #5d3bee;
    margin-top: 140px;
    padding-top: 86px;
}
.projects__top {
    display: flex;
    align-items: center;
    gap: 160px;
    margin-bottom: 70px;
}
.projects__title {
    width: 468px;
    color: #fff;
    font-size: 56px;
    font-weight: 500;
    font-style: normal;
    line-height: 66px;
    letter-spacing: -2.24px;
    flex-shrink: 0;
}
.projects__desc {
    width: 370px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.7;
}
.project__card {
    background: #fbfaff;
    display: flex;
    justify-content: space-between;
    padding: 24px 23px 23px 34px;
}
.project__card-title {
    color: #080415;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.28px;
}
.project__card-desc {
    width: 220px;
    color: #51586a;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.project__card-link {
    color: #080415;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-decoration-line: underline;
}
.project__card-media {
    width: 246px;
    height: 187px;
}
.project__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects__all-link {
    width: 170px;
    height: 62px;
    display: flex;
    color: #080415;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    background: #fff;
    margin: 80px auto 0;
}
