*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}
/* -----------COMMON CSSS------------ */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #5d3bee;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.7;
    opacity: 0.7 !important;
}
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}
.show-in-mobile {
    display: none;
}
/* --------HEADER----------- */
.header {
    padding-top: 20px;
    background: #fbfaff;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__action {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__action-wrap {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__action-text {
    color: #080415;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    text-decoration-line: underline;
}
.header__list {
    display: flex;
    gap: 43px;
}
.header__logo {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    flex-shrink: 0;
}
.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__pc-nav {
    margin-left: 223px;
}
.header__link {
    color: #51586a;
    font-size: 18px;
    line-height: normal;
}
.header__link:hover {
    text-shadow: 0 1px rgb(0 0 0 /15%);
}
/*--------HERO--------- */
.hero {
    background: #fbfaff;
    padding-top: 38px;
}
.hero .container {
    /* background-color: #ccc; */
}
.hero__inner {
    align-items: center;
}
.hero__media {
    position: relative;
    /* background-color: #ccc; */
}
.hero__img {
    width: 514px;
    height: 705px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}
.hero__decor {
    position: absolute;
    bottom: 24px;
    left: -35%;
}
.hero__content {
    margin-left: var(--gutter-x);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-title {
    width: 500px;
    color: #080415;
    font-family: "DM Sans";
    font-size: 80px;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: -3.2px;
}
.hero__desc {
    width: 370px;
    color: #51586a;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}
.hero__action {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.hero__btn {
    width: 170px;
    height: 62px;
    color: #fdfdfd;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.hero__link {
    color: #080415;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-decoration-line: underline;
}
.hero__social {
    margin-top: 109px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.hero__social-text {
    color: #51586a;
    font-weight: 500;
    line-height: 30px;
}
.hero__social-group {
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero__social-wrap-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__social-img {
    transition: transform 0.2s ease;
}
.hero__social-img:hover {
    transform: scale(1.5);
}

/* --------CLIENTS----------- */
.clients {
    padding-top: 98px;
}
.clients__inner {
    display: flex;
    align-items: center;
}
.clients__title {
    width: 352px;
    font-weight: 500;
    font-style: Medium;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -4%;
    position: relative;
    padding-left: 99px;
}
.clients__title::before {
    content: "";
    position: absolute;
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
    display: inline-block;
    top: 25px;
    left: 0px;
}
.clients__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin-left: 105px;
    row-gap: 41px;
    column-gap: 50px;
}
.clients__item {
    display: flex;
    align-items: center;
    gap: 13px;
}
.clients__img {
    max-width: 100%;
}
/* -------------- SERVICES-------------- */
.service {
    margin-top: 133px;
}
.service__title {
    color: #080415;
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: -2.24px;
    width: fit-content;
    margin-inline: auto;
}
.service__desc {
    color: #51586a;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 534px;
    margin-inline: auto;
    margin-top: 20px;
}

.service__tracker {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 60px;
}
.service__card {
    /* width: 370px; */
    /* height: 306px; */
    background: #fbfaff;
    padding: 33px 43px;
}
.service__img-wrap {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
.service__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.service__card-title {
    color: #080415;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.28px;
    margin-top: 22px;
}
.service__card-desc {
    color: #51586a;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
}
/* ------PROJECTS---------------- */
.projects {
    background: #5d3bee;
    margin-top: 140px;
    padding-top: 86px;
    padding-bottom: 86px;
}
.projects__top {
    display: flex;
    align-items: center;
    gap: 160px;
    margin-bottom: 70px;
}
.projects__title {
    width: 468px;
    color: #fff;
    font-size: 56px;
    font-weight: 500;
    font-style: normal;
    line-height: 66px;
    letter-spacing: -2.24px;
    flex-shrink: 0;
}
.projects__desc {
    width: 370px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.7;
}
.project__card {
    background: #fbfaff;
    display: flex;
    justify-content: space-between;
    padding: 24px 23px 23px 34px;
    position: relative;
}
.project__card-decor {
    position: absolute;
    top: 0;
    right: 0;
    width: 72%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.project__card-title {
    color: #080415;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.28px;
}
.project__card-desc {
    width: 220px;
    color: #51586a;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.project__card-link {
    color: #080415;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-decoration-line: underline;
}
.project__card-media {
    width: 246px;
    height: 187px;
    position: relative;
    z-index: 1;
}
.project__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects__all-link {
    width: 170px;
    height: 62px;
    display: flex;
    color: #080415;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    background: #fff;
    margin: 80px auto 0;
}
/* ---------ABOUT----------- */
.about {
    margin-top: 140px;
}
.about__eyebrown {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-inline: auto;
    gap: 9px;
}
.about__eyebrown-text {
    color: #5d3bee;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.28px;
}
.about__title {
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: -2.24px;
    text-align: center;
    margin-top: 10px;
}
.about__desc {
    width: 570px;
    color: #51586a;
    font-size: 18px;
    line-height: 30px;
    margin-inline: auto;
    text-align: center;
    margin-top: 15px;
}
.about__stats {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid rgba(8, 4, 21, 0.2);
    border-bottom: 1px solid rgba(8, 4, 21, 0.2);
    margin-top: 70px;
}
.about__stats-item {
    flex: 1;
    text-align: center;
}
.about__number {
    color: #080415;
    font-size: 56px;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: 1.68px;
    text-decoration-line: underline;
}
.about__text {
    color: #51586a;
    font-size: 18px;
    line-height: 30px;
}
.about__video-wrap {
    width: 100%;
    height: 628px;
    margin-top: 70px;
    position: relative;
    z-index: 1;
}
.about__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video__play {
    width: 111px;
    height: 111px;
    border-radius: 111px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.video__bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 170px;
    height: 62px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #51586a;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
/* -----------FEEDBACK-------------- */
.feedback {
    margin-top: -323px;
    background: #fbfaff;
    padding-top: 323px;
    padding-bottom: 70px;
    position: relative;
    z-index: 0;
}
.feedback__decor {
    position: absolute;
    bottom: 0;
}
.feedback__decor--1 {
    left: 0;
}
.feedback__decor--2 {
    right: 0;
}
.feedback__title {
    margin-top: 150px;
    color: #080415;
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: -2.24px;
    text-align: center;
}
.feedback__desc {
    margin-top: 20px;
    width: 570px;
    color: #51586a;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-inline: auto;
}
.feedback__slider {
    margin-top: 60px;
    overflow: hidden;
}
.feedback__track {
    display: flex;
    transform: translateX(0);
    transition: transform 0.4s ease;
}
.feedback__card {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback__review {
    width: 679px;
    color: #51586a;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    margin-inline: auto;
}
.feedback__customer {
    display: flex;
    align-items: center;
    gap: 14.46px;
    margin-top: 36px;
}
.feedback__customer-avatar {
    width: 39.833px;
    height: 39.833px;
    background-color: #f29764;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.feedback__customer-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.feedback__customer-name {
    color: #080415;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}
.feedback__role {
    color: #51586a;
    line-height: 29px;
}
.feedback__dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 15px;
}
.feedback__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(8, 4, 21, 0.2);
}
.feedback__dot--active {
    width: 20px;
    height: 20px;
    border: 1px solid #5d3bee;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedback__dot--active::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #5d3bee;
}
/* ------FAQS----- */
.faqs {
    padding-top: 95px;
}

.faqs__title {
    width: 575px;
    color: #080415;
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: -2.24px;
    margin-bottom: 80px;
}
.faqs__item {
    border-bottom: 2px solid #08182f;
    padding-bottom: 21px;
    display: block;
}
.faqs__item:not(:first-of-type) {
    margin-top: 60px;
}
.faqs__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqs__question-text {
    color: #5d3bee;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.28px;
    transition: color 0.3s ease;
}
.faqs__answer {
    width: 487px;
    max-height: 100px;
    overflow: hidden;
    color: #51586a;
    font-size: 18px;
    line-height: 30px;
    margin-top: 23px;
    transition: max-height 0.3s ease;
}
.faqs__question-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
}
.faqs__question-icon::before,
.faqs__question-icon::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: #000;
}
.faqs__question-icon::after {
    rotate: 0;
    /* transition: rotate 0.3s ease; */
}
.faq__checkbox:not(:checked) + .faqs__item .faqs__answer {
    max-height: 0;
    /* margin-top: 0; */
}
.faq__checkbox:not(:checked) + .faqs__item .faqs__question-text {
    color: #080415;
}
.faq__checkbox:not(:checked) + .faqs__item .faqs__question-icon::after {
    rotate: 90deg;
}
.faq__checkbox:checked + .faqs__item {
    border-bottom: 2px solid #5d3bee;
}
.faq__checkbox:checked + .faqs__item .faqs__question-icon::after {
    background-color: #5d3bee;
}
.faqs__item,
.faqs__question-text,
.faqs__question-icon {
    -webkit-tap-highlight-color: transparent;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none; */
} /* đoạn này làm mất hiện tượng nháy nháy trên iphone khi bấm xem câu trả lời*/

/*----------------- CONTACT----------------- */
.contact {
    margin-top: 160px;
    padding-bottom: 100px;
}
.contact__title {
    color: #080415;
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: -2.24px;
    text-align: center;
}
.contact__desc {
    margin-top: 20px;
    width: 582px;
    color: #51586a;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-inline: auto;
}
.contact__email {
    color: #5d3bee;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.28px;
    text-decoration-line: underline;
    display: block;
    text-align: center;
    margin-top: 30px;
}
.contact__slider {
    margin-top: 70px;
}
.contact__track {
    display: flex;
    gap: 30px;
}
.contact__card {
    flex: 1;
}
.contact__img {
    width: 100%;
    height: auto;
    aspect-ratio: 370 / 529;
    object-fit: cover;
}
/* ------CTA---------- */
.cta {
    margin-top: 140px;
    padding: 68px 0;
    background: #fbfaff;
    position: relative;
    /* overflow: hidden; */
}
.cta__decor {
    position: absolute;
}
.cta__decor--1 {
    left: 0;
    bottom: 0;
}
.cta__decor--2 {
    /* right: 50%;
    top: 50%; */
    width: 70%;
    top: 0;
    left: 10%;
}
.cta__decor--3 {
    right: 0;
    top: 0;
}
.cta__icon {
    width: 90px;
    height: 90px;
    display: block;
    margin-inline: auto;
}
.cta__title {
    color: #080415;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: -2.24px;
    margin-inline: auto;
    margin-top: 20px;
}
.cta__desc {
    color: #51586a;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 570px;
    margin-inline: auto;
    margin-top: 20px;
}
.cta__btn {
    width: 170px;
    height: 62px;
    color: #fdfdfd;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    margin: 30px auto 0;
}
